.social-icons
  = link_to auth_at_provider_path(provider: :facebook), data: { no_turbolink: true }, class: 'btn facebook' do
    .left #{button_label} Facebook
    = icon 'facebook', class: 'right'
  = link_to auth_at_provider_path(provider: :google), data: { no_turbolink: true }, class: 'btn google' do
    .left #{button_label} Google
    = icon 'google', class: 'right'
  = link_to auth_at_provider_path(provider: :github), data: { no_turbolink: true }, class: 'btn github' do
    .left #{button_label} GitHub
    = icon 'github', class: 'right'
