:coffee
  @users = #{@users.to_json}

.container.user-groups-edit
  .row
    .columns.large-10.large-centered
      .widget
        .header
          %h3 Update Kit
        .main
          = simple_form_for @user_group do |f|
            .row
              .columns.large-6
                = f.input :name
                = f.input :description, as: :text
              .columns.large-6
                = f.input :user_ids, label: 'Kit Members'
            .row
              .columns.large-12
                = f.button :submit, 'Update', class: 'button radius'
