:coffee
  @users = #{ @users.to_json }

.container.user-groups-edit
  .row
    .columns.large-12
      .widget
        .header
          %h3 Update Group
        .main
          = simple_form_for @user_group do |f|
            .row
              .columns.large-6
                = f.input :name
                = f.input :description, as: :text
              .columns.large-6
                = f.input :user_ids, label: 'Group Members'
            .row
              .columns.large-12
                %ul.button-group
                  %li
                    = link_to 'Back to Kit', @user_group, class: 'button back'
                  %li
                    = f.button :submit, 'Update', class: 'button radius'
