:coffee
  @current_user_id = #{current_user.id}

.container
  .user-groups-index
    .row.title
      .columns.large-12.text-center
        %h1 #{current_user.name}'s Kits
    .row
      .columns.large-12
        %ul.large-block-grid-4.small-block-grid-1
          - @user_groups.each do |group|
            %li
              .group
                .wrapper
                  - if group.user_state(current_user) == UserGroupsUsers::ACCEPTED
                    .default-group{ class: current_user.default_group == group ? 'selected' : '', data: { value: group.id } }
                      = fa_icon 'check'
                  - else
                    .group-invite
                      Accept invitation
                  .group-body
                    - if active_grocery = group.active_groceries.first
                      = link_to active_grocery do
                        = fa_icon 'group'
                        %p #{group.name}
                    - else
                      = link_to new_user_group_grocery_path(group) do
                        = fa_icon 'group'
                        %p #{group.name}
          %li.group
            = link_to new_user_group_path do
              .wrapper
                .group-body
                  = fa_icon 'plus-square-o'
                  %p Create Grocery Kit
