:coffee
  @current_user_id = #{current_user.id}

.container
  .user-groups-index
    .row.title
      .columns.large-12.text-center
        %h1 #{current_user.name}'s Kits
    .row
      .columns.large-12
        %ul.large-block-grid-4.small-block-grid-1
          - @user_groups.each do |group|
            %li
              .group
                .wrapper
                  .default-group{ class: current_user.default_group == group ? 'selected' : '', data: { value: group.id } }
                    = fa_icon 'check'

                  = link_to group do
                    = fa_icon 'group'
                    %p #{group.name}
          %li.group
            = link_to new_user_group_path do
              .wrapper
                = fa_icon 'plus-square-o'
                %p Create Grocery Kit
