.container.user-groups-new
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h3 Create a Grocery Kit
        .main
          .row
            .columns.large-12
              %p Your Kit will include all the grocery lists that you make on SupermarKit. Fill out some details about your new Kit and let's get started!
          = simple_form_for @user_group do |f|
            .row
              .columns.large-6.large-centered
                = f.input :name
                = f.input :description, as: :text
                = f.input :user_ids, label: false, as: :text, input_html: { value: "" }
                = f.button :submit, 'Create', class: 'button radius'
