.container.user-groups-new
  = simple_form_for @user_group do |f|
    .row
      .col.l8.offset-l2
        .card
          .card-content
            %h3 Create a Grocery Kit
            .row
              .col.l12
                %p A Kit maintains the list of people and groceries that are included in that Kit. Once you fill out some quick details we'll get started!
                .row.inputs
                  .col.l6.s12
                    = f.input :name, input_html: { class: 'input-field' }
                    = f.input :description, input_html: { class: 'input-field' }
                    = f.input :user_ids, as: :hidden
                  .col.l6.s12.privacy
                    Kit Privacy
                    = f.input :privacy, as: :radio_buttons, label: false, collection: UserGroup::PRIVACY, boolean_style: :inline, checked: UserGroup::PUBLIC
                    %p.public
                      Items you add to lists in
                      %strong Public
                      kits will be accessible by other public kits, so like word of mouth, users are able to share pricing info and reviews for these items.
                    %p.private.hide
                      A
                      %strong Private
                      kit is like starting from fresh. There won't be access to any of the items already available on SupermarKit, but any items that are created will only be visible to members of your kit.
    .row
      .col.l8.offset-l2
        .card
          .card-image
            = image_tag "user_groups/#{@banner_image}.jpg"
            %span.card-title Kit banner
          .card-content
            %p Add a custom image to your kit for you and your members to see.
          .card-action
            .input-field.file-field
              .btn
                %span File
                = f.input :banner, label: false, as: :file
              .file-path-wrapper
                %input.file-path.validate
  .row
    .col.l8.offset-l2.s12
      .card
        .card-content
          .row
            .col.l12.s12
              = react_component 'MultiselectForm', @kit_data
        .card-action
          = link_to 'Create', 'javascript:;', class: 'btn submit-group-form'
