:coffee
  @active_grocery_id = #{ @active_grocery.try(:id) }
  @user_group_id = #{ @user_group.id }

.container.user-groups-show
  .row
    .columns.large-12
      %h1 Manage #{@user_group.name}
      .row
        .columns.large-6
          = render partial: 'user_groups/widgets/user_groups_table'
        .columns.large-6
          = render partial: 'user_groups/widgets/groceries_table'
          - if @user_group.finished_groceries.count.nonzero?
            = render partial: 'user_groups/widgets/metrics_link'
