.container.users-new
  .row
    .col.l8.offset-l2
      .card
        = simple_form_for @user, remote: true do |f|
          .card-content
            %h1 Sign up
            .row
              .col.l6.s12
                %p Enter a few details about yourself and we'll get you started.
                .input-field= f.input :name, input_html: { value: params[:user].try(:[], :name) }
                .input-field= f.input :email, input_html: { value: params[:user].try(:[], :email) }
                .input-field= f.input :password
                .input-field= f.input :password_confirmation
              .col.l6.s12
                = render partial: 'components/social', locals: { button_label: 'Sign up with' }
          .card-action
            = f.button :submit, 'Create'
