.container.users-new
  .row
    .col.l8.offset-l2
      .card
        %h1 Sign up
        .row
          .col.l6.s12
            = simple_form_for @user do |f|
              %p Enter a few details about yourself and we'll get you started.
              = f.input :name, input_html: { value: params[:user].try(:[], :name) }
              = f.input :email, input_html: { value: params[:user].try(:[], :email) }
              = f.input :password
              = f.input :password_confirmation
              = f.button :submit, 'Create'
          .col.l6.s12
            = render partial: 'components/social', locals: { button_label: 'Sign up with' }
