:coffee
  @active_grocery_id = #{ @active_grocery.id }
  @user_id = #{ @user.id }

.container
  .users-show
    .row
      .columns.large-12
        %h1 #{@user.name}'s Kit
          
    - if @user.user_groups.count.nonzero?
      %section.dash-content
        .row
          - if @active_grocery
            .columns.large-6
              = render partial: 'users/widgets/quick_add'
              = render partial: 'users/widgets/active_grocery_table'

            .columns.large-6
              = render partial: 'users/widgets/groceries_table'
              = render partial: 'users/widgets/shoppers_table'
