.container.users-show
  .row
    .col.l8.offset-l2
      .card
        .card-content
          %h3 Profile
          .row
            .col.l12
              = image_tag @user.gravatar_url
          .row
            .col.l12
              %label Name
              %p= @user.name
          - if can? :view_email, @user
            .row
              .col.l12
                %label Email
                %p= @user.email
          .row
            .col.l12
              %label Joined On
              %p= @user.created_at.to_date
        - if can? :manage, @user
          .card-action
            .row
              .col.l12
                = link_to 'Edit profile', edit_user_path(@user), class: 'btn'
