.container.users-show
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h1= @user.name
        .main
          .row
            .columns.large-6
              .row
                .columns.large-12
                  %label Name
                  %p= @user.name
              %hr
              .row
                .columns.large-12
                  %label Email
                  %p= @user.email
              %hr
              .row
                .columns.large-12
                  %label Joined On
                  %p= @user.created_at.to_date
          - if can? :update, @user
            %hr
            .row
              .columns.large-12
                = link_to 'Edit User', edit_user_path(@user), class: 'button'
