:javascript
  var active_grocery_id = #{ @user.groceries.last.id }
  var user_id = #{ @user.id }

.container
  .users-show
    .row
      .columns.large-12
        - if @active_grocery
          %h1
            #{@user.name}, you're currently on
            = link_to "#{@active_grocery.name}"
        - else
          %h1 Hey #{@user.name}
          %p
            Click
            = link_to 'here', new_grocery_path
            to make your first grocery list.
    %section.dash-content
      .row
        - if @active_grocery
          .columns.large-6
            = render partial: 'users/widgets/quick_add'
          .columns.large-6
            = render partial: 'users/widgets/groceries_table'
      .row
        .columns.large-8
          = render partial: 'users/widgets/active_grocery_table'
