.contain-to-grid.scroll
  .home
    .section#hero
      .row
        .columns.large-12.small-12.medium-12
          %h1 SupermarKit
          = render partial: 'apple'
      = simple_form_for :user, url: new_user_path, method: :get do |f|
        .row.signup
          .columns.large-12.small-8.small-centered
            %ul
              %li
                = f.input :name, label: false, input_html: { placeholder: 'Name', class: 'round' }
              %li
                = f.input :email, label: false, input_html: { placeholder: 'Email', class: 'round' }
              %li
                = f.button :submit, 'Sign up', class: 'button radius' 
    .section#hook
      .row
        .columns.large-4
          = image_tag 'groceries/boxes256.png'
          %h2 Track the foods.
          %p Create custom and default grocery lists that will carry over each week.
        .columns.large-4
          = image_tag 'groceries/meats256.png'
          %h2 Get the foods.
          %p Notify the people on your list that you're getting groceries and learn who you're shopping for.
        .columns.large-4
          = image_tag 'groceries/fruits256.png'
          %h2 Check the foods.
          %p Look at what you have been buying and analyze your eating habits.


