.homepage
  #signup
    .container
      %h1 SupermarKite
      .svg-images
        = inline_svg 'svgs/shop.svg', id: 'shop-svg'
        %span +
        = inline_svg 'svgs/groceries.svg', id: 'groceries-svg'
        %span =
        = inline_svg 'svgs/serve.svg', id: 'serve-svg'
      %h2 The formula for grocery shopping should be simple.

      = simple_form_for :user, url: new_user_path, method: :get do |f|
        = f.button :submit, 'Sign up'

  .section.kits
    .container
      .row.valign-wrapper
        .col.l6
          = image_tag 'homepage/kits.png'
        .col.l6
          %h1 Kits
          %p
            Start by making a Kit for groups of people who shop together.
            You can create different kits for your family members, co-workers
            and special events.
          %p
            Within the Kit you can create grocery lists, make payments to Kit
            members, track receipts, search for recipes and more.

  .section.lists
    .container
      .row.valign-wrapper
        .col.l6
          %h1 Lists
          %p
            Sometimes grocery shopping needs to be exact. Specify
            details like quantity, baking units and prices for your shopping items.
          %p
            Your list estimates prices based on past pricing information and
            your optional shopping location if you want to share it.
          %p
            If you have a meal in mind you can search for recipes and
            automatically add all of the ingredients you will need to your list.
        .col.l5.offset-l1
          = image_tag 'homepage/list.gif'

  .section.payments
    .container
      .row
        .col.l6
          = image_tag 'homepage/payment.gif'
        .col.l5.offset-l1
          %h1 Payments
          %p
            After you go shopping you can split the cost of your trip between
            Kit members and track payments and balances.
          %p
            Receipts are easy to lose. After checkout you can send a picture of
            your receipt and we'll keep track of them for you.
          %p
            Pricing information from your receipt will be used to estimate the cost
            of your future trips.

  .section.signup
    .container.center-align
      .row
        .col.l8.offset-l2
          %h1 Manage your Groceries
          %p
            SupermarKit is completely free to use and there are no advertisements.
            Give us a try and see if we can help make your grocery shopping easier.

          = link_to 'Sign up', new_user_path, class: 'btn'
