.contain-to-grid.scroll
  .home#signup{ "data-magellan-destination" => "signup" }
      .row
        .columns.large-12.small-12.medium-12
          %h1 SupermarKit
          = render partial: 'svgs', locals: { image: :apple }
      = simple_form_for :user, url: new_user_path, method: :get do |f|
        .row.signup
          .columns.large-12.small-8.small-centered
            %ul
              %li
                = f.input :name, label: false, input_html: { placeholder: 'Name', class: 'round' }
              %li
                = f.input :email, label: false, input_html: { placeholder: 'Email', class: 'round' }
              %li
                = f.button :submit, 'Sign up', class: 'button radius' 
    .section#groceries{ "data-magellan-destination" => "groceries" }
      .row
        .columns.large-5
          %h1 Grocery lists.
          %p They're the reason why we're all here and they're at the very core of SupermarKit. Your lists remember what items you have used in the past in order to make adding recurring items quick and painless.
          %p Cross-list items are drawn from all public lists across SupermarKit, eliminating the need for manual data-entry through the use of highly-integrated autocomplete.
        .columns.large-7
          = image_tag 'homepage/lists.png'
  :coffeescript
    @page = "home"


