.homepage
  #signup
    .container
      %h1 SupermarKit
      .svg-images
        = inline_svg 'svgs/shop.svg', id: 'shop-svg'
        %span +
        = inline_svg 'svgs/groceries.svg', id: 'groceries-svg'
        %span =
        = inline_svg 'svgs/serve.svg', id: 'serve-svg'
      %h2 The formula for grocery shopping should be simple.

      = simple_form_for :user, url: new_user_path, method: :get do |f|
        = f.button :submit, 'Sign up'

  .section.kits
    .container
      .row.valign-wrapper
        .col.l6
          = image_tag 'homepage/kits.png'
        .col.l6
          %h1 Kits
          %p
            Kits are groups of people who shop together. You can create
            different kits for your family members, co-workers and special
            events.
          %p
            Kit members can send emails, make payments, manage grocery lists
            add recipes and track receipts all within their Kit.


  .section.lists
    .container
      .row.valign-wrapper
        .col.l6
          %h1 Lists
          %p
            Collaborate with everyone in your Kit to prepare your grocery list
            that includes details like the units, amounts and prices for the
            items on your list.
          %p
            Your list estimates item prices and the total cost for your list
            based on our pricing information and your shopping location.
          %p
            You can search for recipes and instantly add of the ingredients
            you will need to your grocery list.
        .col.l5.offset-l1
          = image_tag 'homepage/list.gif'

  .section.payments
    .container
      .row
        .col.l6
          = image_tag 'homepage/payment.gif'
        .col.l4.offset-l1
          %h1 Payments
          %p
            Payments can be sent to another Kit member at any time and you can
            split the cost of your grocery list when you checkout.
          %p
            Scan your receipts to automatically enter the total cost of your
            grocery list and keep a record of your shopping transaction.

  .section.signup
    .container.center-align
      .row
        .col.l8.offset-l2
          %h1 Join the Community
          %p
            SupermarKit is completely free to use and there are no advertisements.
            Give us a try and see if we can help make your grocery shopping easier.

          = link_to 'Sign up', new_user_path, class: 'btn'
