.container.groceries-new
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h3 New Grocery List
        .main
          = simple_form_for [@user_group, @grocery] do |f|
            .row
              .columns.large-6.large-centered
                = f.input :name, input_html: { value: "#{Date.today.strftime('%A')}'s List - #{Date.today}" }
                = f.input :description, as: :text
                = f.button :submit, 'Create', class: 'button radius'
