:coffee
  @grocery_id = #{@grocery.id}

.container.groceries-show
  .row
    .columns.large-8
      .widget
        .header
          %h3
            Groceries for #{@grocery.name}
        .main
          .row
            .columns.large-12
              %table#grocery-table.display.responsive.nowrap
                %thead
                  %tr
                    %th ID
                    %th Name
                    %th Description
                    %th Quantity
                    %th Price per Item
                    %th Total Price
                    %th Remove
                %tfoot
                  %tr
                    %th.text-right{colspan: 6}
                      Total:
                    %th
          - unless @grocery.finished?
            .row
              .columns.large-12
                %ul.inline-list
                  %li
                    %h3 Email Groceries
                    %p
                      Tell the team! At any point you can
                      = link_to 'email your group', email_group_grocery_path(@grocery), class: 'highlight'
                      your grocery list.
          .row
            .columns.large-12
              %ul.button-group
                %li
                  = link_to 'Back to Kit', @grocery.user_group, class: 'button back'
                %li
                  = link_to 'Add item', new_grocery_item_path(@grocery), class: :button
                %li.right
                  = simple_form_for :finish, url: toggle_finish_grocery_path(@grocery), method: :patch do |f|
                    - if @grocery.finished?
                      = f.button :submit, 'Shop More', class: 'button misc'
                    - else
                      = f.button :submit, 'Groceries purchased', class: 'button success'
    .columns.large-4
      .widget
        .header
          %h3 Been through checkout?
        .main
          %p Put away your list once you're all done.
          = link_to '#', data: { 'reveal-id' => 'finish-modal' } do
            %i.fa.fa-archive
          #finish-modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", role: "dialog"}
            .row
              .columns.large-12
                %h2.modalTitle Congrats.
                %p You've bought your groceries! Before we put this list away, highlight any items you didn't end up buying.
                %table#finish-table.display.responsive.nowrap
                  %thead
                    %tr
                      %th ID
                      %th Name
            .row
              .columns.large-12
                %p What would you to do with the items you didn't purchase?
                = link_to 'Carry them over to a new list', '#', data: { 'reveal-id' => 'second-modal' }, class: 'button'  
                = link_to 'I never wanted them anyway', '#', class: 'button back'
          :plain
            <div id="second-modal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
              <h2 id="secondModalTitle">This is a second modal.</h2>
              <p>See? It just slides into place after the other first modal. Very handy when you need subsequent dialogs, or when a modal option impacts or requires another decision.</p>
              <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>

