:coffee
  @grocery_id = #{@grocery.id}

.container.groceries-show
  .row
    .columns.large-12
      .widget
        .header
          %h3
            Groceries for #{@grocery.name}
        .main
          .row
            .columns.large-12
              %table#grocery-table.display.responsive.nowrap
                %thead
                  %tr
                    %th ID
                    %th Name
                    %th Description
                    %th Price
                    %th Last Updated
                    %th Remove
                %tfoot
                  %tr
                    %th.text-right{colspan: 5}
                      Total:
                    %th
          .row
            .columns.large-12
              %ul.button-group
                %li
                  = link_to 'Back to Kit', @grocery.user_group, class: 'button secondary'
                %li
                  = link_to 'Add item', new_grocery_item_path(@grocery), class: :button
                %li.right
                  = simple_form_for :finish, url: toggle_finish_grocery_path(@grocery), method: :patch do |f|
                    - if @grocery.finished?
                      = f.button :submit, 'Shop More', class: 'button secondary'
                    - else
                      = f.button :submit, 'Finish Shopping', class: 'button success'