:coffee
  @grocery_id = #{@grocery.id}

.container.groceries-show
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h3
            Groceries for #{@grocery.name}
        .main
          .row
            .columns.large-12
              %table#grocery-table.display.responsive.nowrap
                %thead
                  %tr
                    %th ID
                    %th Name
                    %th Description
                    %th Quantity
                    %th Total Price
                    %th Remove
                %tfoot
                  %tr
                    %th.text-right{colspan: 5}
                      Total:
                    %th
          - unless @grocery.finished?
            .row
              .columns.large-12
                %ul.inline-list
                  %li
                    %h3 Email Groceries
                    %p
                      Tell the team! At any point you can
                      = link_to 'email your group', email_group_grocery_path(@grocery)
                      your grocery list.
          .row
            .columns.large-12
              %ul.button-group
                %li
                  = link_to 'Back to Kit', @grocery.user_group, class: 'button back'
                %li
                  = link_to 'Add item', new_grocery_item_path(@grocery), class: :button
                %li.right
                  = simple_form_for :finish, url: toggle_finish_grocery_path(@grocery), method: :patch do |f|
                    - if @grocery.finished?
                      = f.button :submit, 'Shop More', class: 'button misc'
                    - else
                      = f.button :submit, 'Groceries purchased', class: 'button success'
