.widget.user-groups-table
  .header
    %h3 Kit Members
  .main
    .row
      .columns.large-12
        %table#user-groups-table.responsive.no-wrap
          %thead
            %tr
              %th Name
              %th Email
          %tbody
            - @user_group.user_groups_users.each do |user_group_user|
              %tr
                - if user_group_user.state == UserGroupsUsers::ACCEPTED
                  %td= truncate user_group_user.user.name, length: 25
                  %td= truncate user_group_user.user.email, length: 25
                - else
                  %td #{truncate user_group_user.user.name, length: 25} - #{user_group_user.state}
                  %td N/A

    .row
      .columns.large-12
        = link_to "Modify Kit", edit_user_group_path(@user_group), class: :button
