.container.items-new
  .row
    .columns.large-12
      .widget
        .header
          %h3 New item
        .main
          = simple_form_for [@grocery, @item] do |f|
            .row
              .columns.large-6
                .row
                  .columns.large-12
                    = f.input :name
                    = f.input :description, as: :text
                .row
                  .columns.large-4
                    = f.input :price, input_html: { class: 'large-2' }
                .row
                  .columns.large-12
                  = f.button :submit, 'Create', class: 'button radius'
              .columns.large-6.text-center
                = image_tag 'groceries/cans256.png'