.container.items-show
  .row
    .columns.large-8.large-centered
      .widget
        .header
          %h3 Item
        .main
          .row
            .columns.large-7
              .row
                .columns.large-12
                  %label Name
                  %p= @item.name
              %hr
              .row
                .columns.large-12
                  %label Description
                  %p= @item.description
              %hr
              .row
                .columns.large-12
                  %label Price per item
                  %p= @item.price.format(symbol: true)
              %hr
              .row
                .columns.large-12
                  %ul.button-group
                    %li
                      = link_to 'Back to Kit', @user_group, class: 'button back'
                    %li
                      = link_to 'Edit Item', edit_item_path(@item), class: 'button'

            .columns.large-5.text-center
              = render partial: 'pages/svgs', locals: { image: :meal }
