.container.new-user-session
  .row
    .col.l8.offset-l2
      .card
        = simple_form_for :user_session, url: user_sessions_path, remote: true do |f|
          .card-content
            .row
              .col.l12
                %h1 Login
            .row
              .col.l6.s12
                .input-field= f.input :email
                .input-field= f.input :password
              .col.l6.s12
                = render partial: 'components/social', locals: { button_label: 'Login with' }
          .card-action
            = f.button :submit, 'Login'
