.header
  %nav.top-bar{"data-topbar" => "", role: "navigation"}
    %ul.title-area
      %li.name
        = link_to root_url do
          %h1 SoftGroceries
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        - if current_user
          %li
            = link_to 'Dashboard', current_user
          %li
            = link_to 'Logout', logout_path, method: :post
        - else
          %li
            = link_to 'Login', login_path
          %li
            = link_to 'Sign up', new_user_path