- if logged_in?
  .off-canvas-wrap{'data-offcanvas' => ''}
    .inner-wrap
      .show-for-medium-up
        .fixed
          %nav.header.top-bar
            %section.top-bar-section
              %ul.left
                %li.primary-action
                  - if group = current_user.default_group
                    - if grocery = group.active_groceries.first
                      = link_to "#{group.name} Kit", grocery
                    - else
                      = link_to "#{group.name} Kit", new_user_group_grocery_path(group)
                  - else
                    = link_to 'SupermarKit', user_groups_path
              %ul.right
                %li
                  = link_to 'Kits', user_groups_path
                %li
                  = link_to 'Me', current_user
                %li
                  = link_to 'About', about_path
                %li
                  = link_to 'Logout', logout_path, method: :post
      .hide-for-medium-up
        %nav.header.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{href: '#'}
              = inline_svg 'svgs/frankfurter.svg'

        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label SupermarKit
            %li
              - if group = current_user.default_group
                - if grocery = group.active_groceries.first
                  = link_to "#{group.name} Kit", grocery
                - else
                  = link_to "#{group.name} Kit", new_user_group_grocery_path(group)
              - else
                = link_to 'SupermarKit', user_groups_path
            %li
              = link_to 'Kits', user_groups_path
            %li
              = link_to 'Me', current_user
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Logout', logout_path, method: :post
        %a.exit-off-canvas
      = render partial: 'layouts/flash_messages'
      = render partial: 'layouts/error_messages'
      = yield

- else
  .magellan.header{'data-magellan-expedition' => 'fixed'}
    %dl.sub-nav{ 'data-magellan-destination' => 'signup' }
      - if current_page? root_path
        %dd{'data-magellan-arrival' => 'signup', class: 'active'}
          = link_to 'Sign up', '#signup'
        %dd{'data-magellan-arrival' => 'groceries'}
          = link_to 'Lists', '#groceries'
        %dd{'data-magellan-arrival' => 'kits'}
          = link_to 'Kits', '#kits'
        %dd{'data-magellan-arrival' => 'finish'}
          = link_to 'Groceries', '#finish'
      - else
        %dd.left
          = link_to 'Supermarkit', root_path
      %dd.right
        = link_to 'Login', login_path
  = render partial: 'layouts/flash_messages'
  = render partial: 'layouts/error_messages'
  = yield
