- if logged_in?
  .navigation
    %nav
      .nav-wrapper
        = link_to root_url, class: 'brand-logo center' do
          = inline_svg "svgs/groceries.svg", id: 'groceries-svg'
        = link_to root_url, class: 'button-collapse', 'data-activates' => 'site-navigation' do
          %i.material-icons menu

        - if current_user.default_group
          %ul.hide-on-med-and-down.left
            %li= link_to "#{current_user.default_group.name} Kit", current_user.default_group.active_groceries.first

        %ul.hide-on-med-and-down.right
          %li= link_to 'Kits', user_groups_path
          %li= link_to 'Me', current_user
          %li= link_to 'About', about_path
          %li= link_to 'Logout', logout_path, method: :post
        %ul.side-nav#site-navigation
          %li= link_to 'Kits', user_groups_path, class: :dark
          %li= link_to 'Me', current_user, class: :dark
          %li= link_to 'About', about_path, class: :dark
          %li= link_to 'Logout', logout_path, method: :post, class: :dark

  = render partial: 'layouts/flash_messages'
  = render partial: 'layouts/error_messages'
  = yield

- else
  .navigation{ class: ('navbar-fixed' if current_page? root_path) }
    %nav{ class: ('top' if current_page? root_path) }
      .nav-wrapper
        = link_to root_url, class: 'brand-logo center' do
          = inline_svg "svgs/groceries.svg", id: 'groceries-svg'
        = link_to root_url, class: 'button-collapse', 'data-activates' => 'site-navigation' do
          %i.material-icons menu

        %ul.hide-on-med-and-down.right
          %li= link_to 'About', about_path
          %li= link_to 'Sign up', new_user_path
          %li= link_to 'Login', login_path
        %ul.side-nav#site-navigation
          %li= link_to 'About', about_path, class: :dark
          %li= link_to 'Sign up', new_user_path, class: :dark
          %li= link_to 'Login', login_path, class: :dark

    = render partial: 'layouts/flash_messages'
    = render partial: 'layouts/error_messages'
    = yield
