- if logged_in?
  .navigation
    %nav
      .nav-wrapper
        = link_to root_url, class: 'brand-logo center' do
          = inline_svg "svgs/groceries.svg", id: 'groceries-svg'
        = link_to 'javascript:;', class: 'button-collapse', data: { no_turbolink: true }, 'data-activates' => 'site-navigation' do
          %i.material-icons menu

        - if default = current_user.default_group
          %ul.hide-on-med-and-down.left
            %li= link_to "#{default.name} Kit", default.active_groceries.first || default

        %ul.hide-on-med-and-down.right
          %li= link_to 'Kits', user_groups_path
          %li= link_to 'Me', current_user
          %li= link_to 'About', about_path
          %li= link_to 'Logout', logout_path, method: :post
        %ul.side-nav#site-navigation
          %li
            = link_to user_groups_path, class: :dark do
              = icon 'shopping-cart'
              Kits
          %li
            = link_to current_user, class: :dark do
              = icon 'user'
              Me
          %li
            = link_to about_path, class: :dark do
              = icon 'info'
              About
          %li
            = link_to logout_path, method: :post, class: :dark do
              = icon 'sign-out'
              Logout

  = render partial: 'layouts/flash_messages'
  = render partial: 'layouts/error_messages'
  = yield

- else
  .navigation{ class: ('navbar-fixed' if current_page? root_path) }
    %nav{ class: ('top' if current_page? root_path) }
      .nav-wrapper
        = link_to root_url, class: 'brand-logo center' do
          = inline_svg "svgs/groceries.svg", id: 'groceries-svg'
        = link_to 'javascript:;', data: { no_turbolink: true }, class: 'button-collapse', 'data-activates' => 'site-navigation' do
          %i.material-icons menu

        %ul.hide-on-med-and-down.right
          %li= link_to 'About', about_path
          %li= link_to 'Sign up', new_user_path
          %li= link_to 'Login', login_path
        %ul.side-nav#site-navigation
          %li
            = link_to about_path, class: :dark do
              = icon 'info'
              About
          %li
            = link_to new_user_path, class: :dark do
              = icon 'user-plus'
              Sign up
          %li
            = link_to login_path, class: :dark do
              = icon 'sign-in'
              Login

    = render partial: 'layouts/flash_messages'
    = render partial: 'layouts/error_messages'
    = yield
