- if current_user
  .off-canvas-wrap{"data-offcanvas" => ""}
    .inner-wrap
      .show-for-medium-up
        .fixed
          %nav.header.top-bar
            %section.top-bar-section
              %ul.left
                %li.primary-action
                  - if current_user.default_group
                    - if current_user.default_group.active_groceries.first
                      = link_to "#{current_user.default_group.name} Kit", current_user.default_group.active_groceries.first
                    - else
                      = link_to "#{current_user.default_group.name} Kit", new_user_group_grocery_path(current_user.default_group)
                  - else
                    = link_to 'SupermarKit', root_path
              %ul.right
                %li
                  = link_to 'Kits', user_groups_path
                %li
                  = link_to 'Me', current_user
                %li
                  = link_to 'About', about_path
                %li
                  = link_to 'Logout', logout_path, method: :post
      .hide-for-medium-up
        %nav.header.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{href: '#'}
              :plain
                <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="frankfurter" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" inkscape:version="0.48.5 r10040" width="100%" height="100%" sodipodi:docname="frankfurter.svg">
                    <metadata id="metadata19">
                        <rdf:RDF>
                            <cc:Work rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                <dc:title />
                            </cc:Work>
                        </rdf:RDF>
                    </metadata>
                    <defs id="defs17" />
                    <sodipodi:namedview borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="717" inkscape:window-height="480" id="namedview15" showgrid="false" inkscape:zoom="3.6875" inkscape:cx="32" inkscape:cy="32" inkscape:window-x="208" inkscape:window-y="240" inkscape:window-maximized="0" inkscape:current-layer="frankfurter" />
                    <path id="top-bun" fill="#bd9268" d="M55.2,19.5H8.8v-4.8c0-4.3,3.4-7.7,7.7-7.7h30.9c4.3,0,7.7,3.4,7.7,7.7V19.5z" />
                    <path id="hotdog" fill="#7a3318" d="M55.3,40.8H8.7C3.9,40.8,0,36.8,0,32v0c0-4.8,3.9-8.7,8.7-8.7h46.5c4.8,0,8.7,3.9,8.7,8.7v0  C64,36.8,60.1,40.8,55.3,40.8z" />
                    <path id="bottom-bun" fill="#bd9268" d="M47.5,57H16.5c-4.3,0-7.7-3.4-7.7-7.7v-4.8h46.3v4.8C55.2,53.6,51.7,57,47.5,57z" />
                    <g id="condiment">
                        <path id="squiggle" fill="#7a3318" d="M52.1,34.6c-1,0-2-0.3-2.9-1l-1.1-0.9c-0.6-0.5-1.5-0.5-2.1,0l-1.1,0.9c-1.7,1.3-4.1,1.3-5.8,0L38,32.7   c-0.6-0.5-1.5-0.5-2.1,0l-1.1,0.9c-1.7,1.3-4.1,1.4-5.8,0l-1.1-0.9c-0.6-0.5-1.5-0.5-2.1,0l-1.1,0.9C23,35,20.7,35,19,33.6   l-1.1-0.9c-0.6-0.5-1.5-0.5-2.1,0l-1.1,0.9c-1.7,1.4-4.1,1.4-5.8,0l-0.6-0.4c-0.6-0.5-0.8-1.5-0.2-2.1c0.5-0.6,1.5-0.8,2.1-0.2   l0.6,0.4c0.6,0.5,1.5,0.5,2.1,0l1.1-0.9c1.7-1.4,4.1-1.4,5.8,0l1.1,0.9c0.6,0.5,1.5,0.5,2.1,0l1.1-0.9c1.7-1.3,4.1-1.4,5.8,0   l1.1,0.9c0.6,0.5,1.5,0.5,2.1,0l1.1-0.9c1.7-1.3,4.1-1.3,5.8,0l1.1,0.9c0.6,0.5,1.5,0.5,2.1,0l1.1-0.9c1.7-1.3,4.1-1.3,5.8,0   l1.1,0.9c0.6,0.5,1.5,0.5,2.1,0l0.6-0.4c0.6-0.5,1.6-0.4,2.1,0.2c0.5,0.6,0.4,1.6-0.2,2.1L55,33.6C54.2,34.3,53.2,34.6,52.1,34.6z" />
                    </g>
                </svg>
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label SupermarKit
            %li
              - if current_user.default_group
                - if current_user.default_group.active_groceries.first
                  = link_to "#{current_user.default_group.name} Kit", current_user.default_group.active_groceries.first
                - else
                  = link_to "#{current_user.default_group.name} Kit", new_user_group_grocery_path(current_user.default_group)
              - else
                = link_to 'Home', root_path
            %li
              = link_to 'Kits', user_groups_path
            %li
              = link_to 'Me', current_user
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Logout', logout_path, method: :post
        %a.exit-off-canvas
      = render partial: 'layouts/flash_messages'
      = render partial: 'layouts/error_messages'
      = yield

- else
  .magellan.header{"data-magellan-expedition" => "fixed"}
    %dl.sub-nav{ "data-magellan-destination" => "signup" }
      - if current_page? root_path
        %dd{"data-magellan-arrival" => "signup", class: 'active'}
          = link_to "Sign up", '#signup'
        %dd{"data-magellan-arrival" => "groceries"}
          = link_to "Lists", '#groceries'
        %dd{"data-magellan-arrival" => "kits"}
          = link_to "Kits", "#kits"
        %dd{"data-magellan-arrival" => "finish"}
          = link_to "Groceries", "#finish"
      - else
        %dd.left
          = link_to 'Supermarkit', root_path
      %dd.right
        = link_to "Login", login_path
  = render partial: 'layouts/flash_messages'
  = render partial: 'layouts/error_messages'
  = yield
